[submodule "plugins/redmine_git_hosting"]
	path = plugins/redmine_git_hosting
	url = https://github.com/eduardobogoni/redmine_git_hosting.git
[submodule "plugins/redmine_plugin_views_revisions"]
	path = plugins/redmine_plugin_views_revisions
	url = https://github.com/jbox-web/redmine_plugin_views_revisions.git
