.FuncionariosHelper .letter {
  font-weight: bold;
  display: block;
}

.FuncionariosHelper .funcionarios_container {
  display: table;
}

.FuncionariosHelper .funcionarios_container .row {
  display: table-row
}

.FuncionariosHelper .funcionario {
  display: table-cell;
}

.FuncionariosHelper .select a {
  color: blue;
  margin-left: 1em;
  text-decoration: underline;
}
